/* styles.css - Challenge #1 (Skeleton) */
body {
    font-family: Arial;
    background-color: aliceblue;
    margin: 0 1rem;
}

body .container {
    margin: auto;
    max-width: 800px;
}

header {
    text-align: center;
}

header.site-header > h1 {
    color:deeppink;
    font-size: 48px;
    margin-bottom: 1rem;
}
.tagline {
    font-style: italic;
    color:dimgray;
    margin-bottom: 2em;
}

#mascot-image {
    height: 10rem;
    width: 13.5rem;
    display: block;
    margin: auto;
    background-color: white;
    border: 2px solid dimgray;
    border-radius: 1em;
    object-fit: contain;
}

section.actions {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    gap: 0.5em;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid gray;
}
section button {
    font-weight: bold;
    color: white;
    padding: 0.75em 1.25em;
    border: 0;
    border-radius: 0.5em;
    width: fit-content;
    transition: transform 0.1s;
}
button.buy-tickets {
    background-color: limegreen;
    box-shadow: 0 0 8px 0 deepskyblue;
}
button.make-donation {
    background-color:blue;
    box-shadow: 0 0 8px 0 deeppink;
}
section button:hover {
    transform: translateY(-2px);
    cursor: pointer;
}
button.buy-tickets:hover {
    background-color: green;
    
}
button.make-donation:hover {
    background-color:darkblue;
}

@media screen and (min-width: 380px) {
    section.actions { flex-direction: row; }
}

footer.site-footer {
    text-align: center;
    color: dimgray;
}
