body {
    font-family: sans-serif;    
    margin: 0 10%;
}

.flex {
    display: flex;
}
.grid {
    display: grid;
}

#header > img {
    object-fit: fill;
    border-radius: 100%;
}
#bio {
    padding: 1rem;
    border: 1px dashed gray;
    color: dimgray
}
#deliverables-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1.5rem;
}

.folder {
    box-shadow: 1px 1px 4px lightgray;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    background-color: whitesmoke;
    font-weight: bold;
    color: #3f3f3f;
    border: 0;
    text-decoration: none;
}
.folder:hover {
    background-color: lightgray;
}

footer {
    margin-top: 5rem;
}
